Repository woowacourse-teams/2023-trip-draw, pull requests merged in 2023-07, with the labels that each got.

#10 [feat] 도메인 설계 및 생성 (#8)
  backend/intellij-java-wooteco-style.xml
  backend/src/main/java/dev/tripdraw/BackendApplication.java
  backend/src/main/java/dev/tripdraw/config/JpaConfig.java
  backend/src/main/java/dev/tripdraw/domain/BaseEntity.java
  backend/src/main/java/dev/tripdraw/domain/Member.java
  backend/src/main/java/dev/tripdraw/domain/Point.java
  backend/src/main/java/dev/tripdraw/domain/Route.java
  backend/src/main/java/dev/tripdraw/domain/Trip.java
  backend/src/test/java/dev/tripdraw/domain/RouteTest.java
  backend/src/test/java/dev/tripdraw/domain/TripTest.java
Labels: feat, Backend

#14 [feat] yml 설정 및 패키지 구조 변경 (#11, #13)
  backend/src/main/java/dev/tripdraw/domain/common/BaseEntity.java
  backend/src/main/java/dev/tripdraw/domain/member/Member.java
  backend/src/main/java/dev/tripdraw/domain/trip/Point.java
  backend/src/main/java/dev/tripdraw/domain/trip/Route.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/test/java/dev/tripdraw/domain/trip/RouteTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
Labels: feat, Backend

#18 [feat] 예외 처리 기능 구현
  backend/src/main/java/dev/tripdraw/exception/AuthException.java
  backend/src/main/java/dev/tripdraw/exception/BadRequestException.java
  backend/src/main/java/dev/tripdraw/exception/ExceptionCode.java
  backend/src/main/java/dev/tripdraw/exception/ForbiddenException.java
Labels: 리오🎸, feat, Backend

#21 [refactor] 디자인 컬러 변경 (#19)
  android/app/src/main/res/values/colors.xml
Labels: Android, 핑구🐧, 수달🦦, 멧돼지🐗, ui

#25 [chore] 개발 서버 CI 및 Self-hosted 이용하여 배포 (#20)
  backend/.github/workflows/backend-dev-cd.yml
  backend/.github/workflows/backend-dev-ci.yml
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
Labels: chore, Backend

#27 [fix] workflows 폴더 변경 (#26)
  .github/workflows/backend-dev-cd.yml
  .github/workflows/backend-dev-ci.yml
  backend/.github/workflows/backend-dev-cd.yml
Labels: fix, Backend

#28 [feat] 회원 인증 및 가입 기능 구현 (#9)
  backend/build.gradle
  backend/src/main/java/dev/tripdraw/application/MemberService.java
  backend/src/main/java/dev/tripdraw/config/AuthConfig.java
  backend/src/main/java/dev/tripdraw/domain/member/MemberRepository.java
  backend/src/main/java/dev/tripdraw/dto/LoginUser.java
  backend/src/main/java/dev/tripdraw/dto/request/MemberCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/response/MemberCreateResponse.java
  backend/src/main/java/dev/tripdraw/exception/ExceptionCode.java
  backend/src/main/java/dev/tripdraw/presentation/controller/MemberController.java
  backend/src/main/java/dev/tripdraw/presentation/member/Auth.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthArgumentResolver.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthExtractor.java
  backend/src/main/java/dev/tripdraw/presentation/member/BasicAuthorizationDecoder.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/member/MemberRepositoryTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/MemberControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/member/AuthExtractorTest.java
  backend/src/test/java/dev/tripdraw/presentation/member/BasicAuthorizationDecoderTest.java
  backend/src/test/resources/truncate.sql
Labels: 리오🎸, feat, Backend

#37 [feat] 위치 저장 기능 구현 (#12)
  backend/src/main/java/dev/tripdraw/application/TripService.java
  backend/src/main/java/dev/tripdraw/domain/member/Member.java
  backend/src/main/java/dev/tripdraw/domain/trip/Point.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/domain/trip/TripRepository.java
  backend/src/main/java/dev/tripdraw/dto/request/PointCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/response/PointCreateResponse.java
  backend/src/main/java/dev/tripdraw/exception/ExceptionCode.java
  backend/src/main/java/dev/tripdraw/presentation/controller/TripController.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
  backend/src/test/java/dev/tripdraw/dto/request/PointCreateRequestTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/ControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
Labels: 후추🧂, feat, Backend

#36 [feat] ControllerAdvice 적용하여 예외 처리 (#30)
  backend/src/main/java/dev/tripdraw/dto/response/ExceptionResponse.java
  backend/src/main/java/dev/tripdraw/presentation/controller/ControllerExceptionHandler.java
Labels: 리오🎸, feat, Backend

#40 [feat] 여행 시작 기능 구현 (#23)
  backend/src/main/java/dev/tripdraw/application/TripService.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/domain/trip/TripName.java
  backend/src/main/java/dev/tripdraw/dto/response/TripCreateResponse.java
  backend/src/main/java/dev/tripdraw/presentation/controller/TripController.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/application/ServiceTest.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
Labels: 체인저🔥, feat, Backend

#41 [Feature] 예외 클래스 수정 및 로거 추가(#38)
  backend/src/main/java/dev/tripdraw/application/MemberService.java
  backend/src/main/java/dev/tripdraw/application/TripService.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/dto/response/ExceptionResponse.java
  backend/src/main/java/dev/tripdraw/exception/AuthException.java
  backend/src/main/java/dev/tripdraw/exception/BadRequestException.java
  backend/src/main/java/dev/tripdraw/exception/ExceptionCode.java
  backend/src/main/java/dev/tripdraw/exception/ForbiddenException.java
  backend/src/main/java/dev/tripdraw/exception/auth/AuthException.java
  backend/src/main/java/dev/tripdraw/exception/auth/AuthExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/common/BaseException.java
  backend/src/main/java/dev/tripdraw/exception/common/ExceptionResponse.java
  backend/src/main/java/dev/tripdraw/exception/common/ExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/common/GlobalExceptionHandler.java
  backend/src/main/java/dev/tripdraw/exception/common/ValidationException.java
  backend/src/main/java/dev/tripdraw/exception/member/MemberException.java
  backend/src/main/java/dev/tripdraw/exception/member/MemberExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/trip/TripException.java
  backend/src/main/java/dev/tripdraw/exception/trip/TripExceptionType.java
  backend/src/main/java/dev/tripdraw/presentation/controller/ControllerExceptionHandler.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthExtractor.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
  backend/src/test/java/dev/tripdraw/presentation/member/AuthExtractorTest.java
Labels: 허브🌿, 리오🎸, feat, Backend

#44 [feat] 닉네임 예외 사항 추가 (#35)
  backend/src/main/java/dev/tripdraw/domain/member/Member.java
  backend/src/main/java/dev/tripdraw/dto/request/MemberCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/validation/NoWhiteSpace.java
  backend/src/main/java/dev/tripdraw/dto/validation/NoWhiteSpaceValidator.java
  backend/src/main/java/dev/tripdraw/exception/common/GlobalExceptionHandler.java
  backend/src/main/java/dev/tripdraw/presentation/controller/MemberController.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/MemberControllerTest.java
Labels: 리오🎸, feat, Backend

#46 [refactor] 롬복 제거
  backend/build.gradle
  backend/src/main/java/dev/tripdraw/application/MemberService.java
  backend/src/main/java/dev/tripdraw/application/TripService.java
  backend/src/main/java/dev/tripdraw/config/AuthConfig.java
  backend/src/main/java/dev/tripdraw/domain/common/BaseEntity.java
  backend/src/main/java/dev/tripdraw/domain/member/Member.java
  backend/src/main/java/dev/tripdraw/domain/trip/Point.java
  backend/src/main/java/dev/tripdraw/domain/trip/Route.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/domain/trip/TripName.java
  backend/src/main/java/dev/tripdraw/dto/request/PointCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/response/MemberCreateResponse.java
  backend/src/main/java/dev/tripdraw/dto/response/PointCreateResponse.java
  backend/src/main/java/dev/tripdraw/dto/response/TripCreateResponse.java
  backend/src/main/java/dev/tripdraw/exception/common/BaseException.java
  backend/src/main/java/dev/tripdraw/exception/common/GlobalExceptionHandler.java
  backend/src/main/java/dev/tripdraw/presentation/controller/MemberController.java
  backend/src/main/java/dev/tripdraw/presentation/controller/TripController.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthArgumentResolver.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthExtractor.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/member/MemberRepositoryTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/RouteTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
  backend/src/test/java/dev/tripdraw/dto/request/PointCreateRequestTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
Labels: 허브🌿, refactor, Backend

#49 [feat] 인증을 위한 Interceptor 구현 (#45)
  backend/src/main/java/dev/tripdraw/application/MemberService.java
  backend/src/main/java/dev/tripdraw/application/TripService.java
  backend/src/main/java/dev/tripdraw/config/AuthConfig.java
  backend/src/main/java/dev/tripdraw/domain/member/Member.java
  backend/src/main/java/dev/tripdraw/domain/member/MemberRepository.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/dto/request/PointCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/validation/NoWhiteSpace.java
  backend/src/main/java/dev/tripdraw/exception/auth/AuthExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/common/ExceptionResponse.java
  backend/src/main/java/dev/tripdraw/presentation/controller/TripController.java
  backend/src/main/java/dev/tripdraw/presentation/member/Auth.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthInterceptor.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
Labels: 리오🎸, feat, Backend

#51 [refactor] API 명세에 맞춰 반환값 수정 (#50)
  backend/src/main/java/dev/tripdraw/application/MemberService.java
  backend/src/main/java/dev/tripdraw/application/TripService.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/dto/auth/LoginUser.java
  backend/src/main/java/dev/tripdraw/dto/member/MemberCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/member/MemberResponse.java
  backend/src/main/java/dev/tripdraw/dto/response/MemberCreateResponse.java
  backend/src/main/java/dev/tripdraw/dto/response/PointCreateResponse.java
  backend/src/main/java/dev/tripdraw/dto/response/TripCreateResponse.java
  backend/src/main/java/dev/tripdraw/dto/trip/PointCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/trip/PointResponse.java
  backend/src/main/java/dev/tripdraw/dto/trip/TripResponse.java
  backend/src/main/java/dev/tripdraw/presentation/controller/MemberController.java
  backend/src/main/java/dev/tripdraw/presentation/controller/TripController.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthExtractor.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthInterceptor.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
  backend/src/test/java/dev/tripdraw/dto/request/PointCreateRequestTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/MemberControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/member/AuthExtractorTest.java
Labels: 허브🌿, refactor, Backend

#56 [chore] 배포시 쉘 스크립트 사용하도록 수정 (#55)
  .github/workflows/backend-dev-cd.yml
Labels: 허브🌿, chore, Backend

#58 [feat] 앱테스터 적용 / firebase 라이브러리 추가 (#57)
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: Android, feat

#63 Feature/set nick name store(#59[feat] 닉네임 설정 / 닉네임 설정 로직 닉네임(추후 토큰으로 변경) 저장용 LocalPreference 세팅 및 authorizationInterceptor설정 (#59)
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/TripDrawApplication.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/userIdentifyInfo/UserIdentifyInfoDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/userIdentifyInfo/local/LocalUserIdentifyInfoDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/failureResponse/NicknameSetupFailureReponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/repository/NicknameSetupRepositoryImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/di/LocalDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/LocalPreferenceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RemoteDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RepositoryContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RetrofitContainer.kt
  android/gradle/libs.versions.toml
Labels: Android, 멧돼지🐗, feat

#67 [fIx] 서버 인증 헤더 형식 변경 대응 인터셉터 작업 (#66)
  android/app/src/main/java/com/teamtripdraw/android/di/RetrofitContainer.kt
Labels: Android, 멧돼지🐗, fix

#68 [fix] 인증 헤더 형식 변경 (#65)
  backend/src/main/java/dev/tripdraw/config/swagger/SwaggerConfig.java
  backend/src/main/java/dev/tripdraw/config/swagger/SwaggerLoginRequired.java
  backend/src/main/java/dev/tripdraw/exception/auth/AuthExceptionType.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthExtractor.java
  backend/src/main/java/dev/tripdraw/presentation/member/BasicAuthorizationDecoder.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/member/AuthExtractorTest.java
  backend/src/test/java/dev/tripdraw/presentation/member/BasicAuthorizationDecoderTest.java
Labels: 리오🎸, fix, Backend

#78 [refactor] Swagger 설정 리팩터링 (#77)
  backend/src/main/java/dev/tripdraw/config/swagger/SwaggerConfig.java
Labels: 허브🌿, refactor, Backend

#80 [feat] 3차 데모데이를 위한 도메인 구현 (#79)
  backend/src/main/java/dev/tripdraw/domain/post/Post.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/domain/trip/TripName.java
  backend/src/test/java/dev/tripdraw/domain/post/PostTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripNameTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
Labels: feat, Backend

#83 [refactor] id 필드를 BaseEntity에서 각각의 클래스로 위치 변경 (#82)
  backend/src/main/java/dev/tripdraw/domain/common/BaseEntity.java
  backend/src/main/java/dev/tripdraw/domain/member/Member.java
  backend/src/main/java/dev/tripdraw/domain/post/Post.java
  backend/src/main/java/dev/tripdraw/domain/trip/Point.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
Labels: 허브🌿, refactor, Backend

#85 [feat] 메인 화면_홈 / 위치 저장을 위한 AlarmManager,service 설정 (#75)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/recordingPoint/RecordingPointAlarmManager.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/recordingPoint/RecordingPointService.kt
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/teamtripdraw/android/domain/MyClass.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/constants/CommonConstants.kt
  android/support/src/main/java/com/teamtripdraw/android/support/framework/presentation/naverMap/NaverMaps.kt
  android/support/src/main/java/com/teamtripdraw/android/support/framework/presentation/permission/LocationPermissions.kt
  android/support/src/main/java/com/teamtripdraw/android/support/framework/presentation/permission/NotificationPermissions.kt
Labels: Android, 멧돼지🐗, feat

#95 [fix] Authorization 헤더 형식 변경 및 Swagger 호출 안되는 버그 수정 (#94)
  backend/src/main/java/dev/tripdraw/config/swagger/SwaggerAuthorizationRequired.java
  backend/src/main/java/dev/tripdraw/config/swagger/SwaggerConfig.java
  backend/src/main/java/dev/tripdraw/config/swagger/SwaggerLoginRequired.java
  backend/src/main/java/dev/tripdraw/dto/member/MemberCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/member/MemberResponse.java
  backend/src/main/java/dev/tripdraw/dto/trip/PointCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/trip/PointResponse.java
  backend/src/main/java/dev/tripdraw/dto/trip/TripResponse.java
  backend/src/main/java/dev/tripdraw/exception/auth/AuthExceptionType.java
  backend/src/main/java/dev/tripdraw/presentation/controller/MemberController.java
  backend/src/main/java/dev/tripdraw/presentation/controller/TripController.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthExtractor.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/member/AuthExtractorTest.java
Labels: 허브🌿, fix, Backend

#101 [fIx] 서버 인증헤더 형식 변경 대응 인터셉터 작업 (#94대응) (#100)
  android/app/src/main/java/com/teamtripdraw/android/di/RetrofitContainer.kt
Labels: Android, 멧돼지🐗, fix

#96 [ui] 감상 기록 / 화면 작업 (#71)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/PostWritingActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/PostWritingViewModel.kt
  android/app/src/main/res/drawable/ic_back.xml
  android/app/src/main/res/drawable/ic_camera.xml
  android/app/src/main/res/drawable/ic_location.xml
  android/app/src/main/res/drawable/ic_mike.xml
  android/app/src/main/res/drawable/ic_video.xml
  android/app/src/main/res/layout/activity_post_writing.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, 수달🦦, ui

#90 [feat] 여행 단일 조회 api 구현 및 여행 상태 필드(Enum) 추가 (#87)
  backend/src/main/java/dev/tripdraw/application/TripService.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/domain/trip/TripStatus.java
  backend/src/main/java/dev/tripdraw/dto/trip/TripResponse.java
  backend/src/main/java/dev/tripdraw/presentation/controller/TripController.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/MemberControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
Labels: 후추🧂, feat, Backend

#99 [feat] 감상 생성 API 구현 (#72)
  backend/src/main/java/dev/tripdraw/application/PostService.java
  backend/src/main/java/dev/tripdraw/domain/post/Post.java
  backend/src/main/java/dev/tripdraw/domain/post/PostRepository.java
  backend/src/main/java/dev/tripdraw/domain/trip/Point.java
  backend/src/main/java/dev/tripdraw/domain/trip/Route.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/dto/post/PostAndPointCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/post/PostRequest.java
  backend/src/main/java/dev/tripdraw/dto/post/PostResponse.java
  backend/src/main/java/dev/tripdraw/dto/trip/PointCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/trip/PointResponse.java
  backend/src/main/java/dev/tripdraw/exception/trip/TripExceptionType.java
  backend/src/main/java/dev/tripdraw/presentation/controller/PostController.java
  backend/src/test/java/dev/tripdraw/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/RouteTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
  backend/src/test/java/dev/tripdraw/dto/post/PostAndPointCreateRequestTest.java
  backend/src/test/java/dev/tripdraw/dto/trip/PointCreateRequestTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/PostControllerTest.java
Labels: 체인저🔥, feat, Backend

#104 [refactor] Response 수정된 명세에 맞춰 변경 (#103)
  backend/src/main/java/dev/tripdraw/application/MemberService.java
  backend/src/main/java/dev/tripdraw/application/PostService.java
  backend/src/main/java/dev/tripdraw/application/TripService.java
  backend/src/main/java/dev/tripdraw/dto/member/MemberCreateResponse.java
  backend/src/main/java/dev/tripdraw/dto/member/MemberResponse.java
  backend/src/main/java/dev/tripdraw/dto/post/PostAndPointCreateRequest.java
  backend/src/main/java/dev/tripdraw/dto/post/PostCreateResponse.java
  backend/src/main/java/dev/tripdraw/dto/post/PostResponse.java
  backend/src/main/java/dev/tripdraw/dto/trip/PointCreateResponse.java
  backend/src/main/java/dev/tripdraw/dto/trip/TripCreateResponse.java
  backend/src/main/java/dev/tripdraw/presentation/controller/MemberController.java
  backend/src/main/java/dev/tripdraw/presentation/controller/PostController.java
  backend/src/main/java/dev/tripdraw/presentation/controller/TripController.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/MemberControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/PostControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
Labels: 허브🌿, refactor, Backend

#109 [feat] 회원 조회 기능 추가 (#105)
  backend/src/main/java/dev/tripdraw/application/MemberService.java
  backend/src/main/java/dev/tripdraw/config/AuthConfig.java
  backend/src/main/java/dev/tripdraw/dto/member/MemberSearchResponse.java
  backend/src/main/java/dev/tripdraw/presentation/controller/MemberController.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/MemberControllerTest.java
Labels: 허브🌿, feat, Backend

#116 [fix] 닉네임 설정 / 리뷰 반영 (#110)
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/nicknameSetup/remote/RemoteNicknameSetupDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/NicknameSetupService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/repository/NicknameSetupRepositoryImpl.kt
  android/app/src/test/java/com/teamtripdraw/android/ui/signUp/NicknameSetupViewModelTest.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/repository/NicknameSetupRepository.kt
Labels: Android, 멧돼지🐗, fix

#106 [feat] 감상 목록 / 화면 작업 및 recyclerView 생성 (#84)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/PostViewerBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiPostItem.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/postViewer/PostViewerActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/postViewer/PostViewerAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/postViewer/PostViewerViewHolder.kt
  android/app/src/main/res/drawable/shape_td_gray_line_0_rect.xml
  android/app/src/main/res/layout/activity_post_viewer.xml
  android/app/src/main/res/layout/item_post_viewer.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, 핑구🐧, feat

#124 [chore] 프로덕션 서버 CI/CD 적용 (#123)
  .github/workflows/backend-prod-cd.yml
  .github/workflows/backend-prod-ci.yml
Labels: chore, Backend

#126 [chore] gradle-wrapper.jar 파일 추가 (#125)
  backend/.gitignore
  backend/gradle/wrapper/gradle-wrapper.jar
Labels: chore, Backend

#128 [chore] github runners 및 스크립트 재설정 (#127)
  .github/workflows/backend-prod-cd.yml
Labels: chore, Backend

#120 [feat] 메인 화면_홈 / 여행시작 api 연결, 여행id 로컬저장 및 검사로직 (#92)
  android/app/src/main/java/com/teamtripdraw/android/TripDrawApplication.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/nicknameSetup/RemoteNicknameSetupDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/trip/LocalTripDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/trip/RemoteTripDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/trip/TripDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/userIdentifyInfo/LocalUserIdentifyInfoDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/CreateTripResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/CreateTripService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/repository/TripRepositoryImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/di/LocalDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/LocalPreferenceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RemoteDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RepositoryContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/ServiceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/HomeBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeViewModel.kt
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/test/java/com/teamtripdraw/android/ui/home/HomeViewModelTest.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/repository/TripRepository.kt
Labels: Android, 멧돼지🐗, feat
