Repository woowacourse-teams/2023-trip-draw, pull requests merged in 2023-08, with the labels that each got.

#136 [fix] DDL 형식 문제로 인한 오류 해결 #135
  backend/src/main/java/dev/tripdraw/domain/post/Post.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/db/migration/V1__init.sql
Labels: fix, Backend

#142 [refactor] 감상 서버 통신 관련 기초 세팅 / Container 추가 (#102)
  android/app/src/main/java/com/teamtripdraw/android/data/repository/PostRepositoryImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RemoteDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RepositoryContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/ServiceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
Labels: Android, 핑구🐧, 수달🦦, 멧돼지🐗, refactor

#113 [feat] 여행 전체 조회 api 추가 (#112)
  backend/src/main/java/dev/tripdraw/application/TripService.java
  backend/src/main/java/dev/tripdraw/domain/trip/TripRepository.java
  backend/src/main/java/dev/tripdraw/dto/trip/TripSearchResponse.java
  backend/src/main/java/dev/tripdraw/dto/trip/TripsSearchResponse.java
  backend/src/main/java/dev/tripdraw/presentation/controller/TripController.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripRepositoryTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
  backend/src/test/resources/truncate.sql
Labels: 후추🧂, feat, Backend

#122 [ui] 감상 상세보기 / 화면 작업 및 이미지 뷰어 기능 (#119)
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/ImageBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/PostViewerBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiPostDetail.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/detail/PostDetailActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/detail/PostDetailViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/viewer/PostViewerActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/viewer/PostViewerAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/viewer/PostViewerViewHolder.kt
  android/app/src/main/res/drawable/ic_delete.xml
  android/app/src/main/res/drawable/ic_edit.xml
  android/app/src/main/res/drawable/shape_td_gray_fill_0_rect.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/activity_post_viewer.xml
  android/app/src/main/res/layout/item_post_viewer.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
  android/settings.gradle.kts
Labels: Android, 핑구🐧, ui

#121 [feat] 경로 이미지 저장 기능 구현 (#76)
  backend/src/main/java/dev/tripdraw/application/draw/RouteImageGenerator.java
  backend/src/main/java/dev/tripdraw/application/draw/RouteImageUploader.java
  backend/src/main/java/dev/tripdraw/domain/draw/Coordinate.java
  backend/src/main/java/dev/tripdraw/domain/draw/Coordinates.java
  backend/src/main/java/dev/tripdraw/domain/draw/Position.java
  backend/src/main/java/dev/tripdraw/domain/draw/Positions.java
  backend/src/main/java/dev/tripdraw/domain/draw/RouteImageDrawer.java
  backend/src/main/java/dev/tripdraw/exception/draw/DrawException.java
  backend/src/main/java/dev/tripdraw/exception/draw/DrawExceptionType.java
  backend/src/test/java/dev/tripdraw/application/draw/RouteImageGeneratorTest.java
  backend/src/test/java/dev/tripdraw/application/draw/RouteImageUploaderTest.java
  backend/src/test/java/dev/tripdraw/domain/draw/CoordinatesTest.java
  backend/src/test/java/dev/tripdraw/domain/draw/PositionsTest.java
  backend/src/test/java/dev/tripdraw/domain/draw/RouteImageDrawerTest.java
Labels: 허브🌿, feat, Backend

#141 [feat] 감상 상세 조회 API 구현 (#73)
  backend/src/main/java/dev/tripdraw/application/PostService.java
  backend/src/main/java/dev/tripdraw/domain/post/Post.java
  backend/src/main/java/dev/tripdraw/dto/post/PostResponse.java
  backend/src/main/java/dev/tripdraw/exception/post/PostException.java
  backend/src/main/java/dev/tripdraw/exception/post/PostExceptionType.java
  backend/src/main/java/dev/tripdraw/presentation/controller/PostController.java
  backend/src/test/java/dev/tripdraw/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/post/PostTest.java
  backend/src/test/java/dev/tripdraw/dto/post/PostResponseAndPointCreateRequestTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/MemberControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/PostControllerTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
Labels: feat, Backend

#157 [feat] 특정 여행의 모든 감상 조회 API 구현 (#74)
  backend/src/main/java/dev/tripdraw/application/PostService.java
  backend/src/main/java/dev/tripdraw/domain/post/Post.java
  backend/src/main/java/dev/tripdraw/domain/post/PostRepository.java
  backend/src/main/java/dev/tripdraw/domain/trip/Point.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/dto/post/PostsResponse.java
  backend/src/main/java/dev/tripdraw/exception/post/PostExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/trip/TripExceptionType.java
  backend/src/main/java/dev/tripdraw/presentation/controller/PostController.java
  backend/src/test/java/dev/tripdraw/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/post/PostTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/PointTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/PostControllerTest.java
Labels: feat, Backend

#165 [feat] 감상 상세보기 / 서버 통신 기능 (#151)
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/post/remote/RemotePostDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/GetPostListResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/GetPostResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/PostService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/mapper/PostDataMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/mapper/PostUiMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/detail/PostDetailActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/detail/PostDetailViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/viewer/PostViewerActivity.kt
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/item_post_viewer.xml
  android/app/src/test/java/com/teamtripdraw/android/ui/post/detail/PostDetailViewModelTest.kt
  android/app/src/test/java/com/teamtripdraw/android/ui/post/viewer/PostViewerViewModelTest.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/constants/CommonConstants.kt
Labels: Android, 핑구🐧, feat

#170 [feat] 감상 기록 / repository를 통한 여행 정보 조회 기능 추가 (#97)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/point/PointDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/point/RemotePointDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/mapper/PostDtoMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/GetPointResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/GetPointService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/mapper/PointMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/mapper/PostDataMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/data/repository/PointRepositoryImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RemoteDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/ServiceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/PointBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/postWriting/PostWritingActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/postWriting/PostWritingViewModel.kt
  android/app/src/main/res/layout/activity_post_writing.xml
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/point/LatLngPoint.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/repository/PointRepository.kt
Labels: Android, 수달🦦, feat

#175 [fix] 이미지 저장 기능 URL 수정 (#174)
  backend/src/main/java/dev/tripdraw/application/draw/RouteImageUploader.java
  backend/src/test/java/dev/tripdraw/application/draw/RouteImageUploaderTest.java
Labels: 허브🌿, fix, Backend

#177 [fix] 여행 단일 조회 필드명 routes에서 route로 변경 (#176)
  backend/src/main/java/dev/tripdraw/dto/trip/TripResponse.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
Labels: 허브🌿, fix, Backend

#179 [fix] 경로 이미지 저장 경로 수정 (#178)
  backend/src/main/java/dev/tripdraw/application/draw/RouteImageUploader.java
  backend/src/test/java/dev/tripdraw/application/draw/RouteImageUploaderTest.java
Labels: 허브🌿, fix, Backend

#181 [fix] 경로 이미지 저장 경로 수정 #180
  backend/src/main/java/dev/tripdraw/application/draw/RouteImageUploader.java
  backend/src/test/java/dev/tripdraw/application/draw/RouteImageUploaderTest.java
Labels: 허브🌿, fix, Backend

#185 [refactor] 경로 이미지의 경로색 및 위치 점 색상 수정 #184
  backend/src/main/java/dev/tripdraw/domain/draw/RouteImageDrawer.java
  backend/src/test/java/dev/tripdraw/domain/draw/RouteImageDrawerTest.java
Labels: 허브🌿, refactor, Backend

#183 [refactor] 감상 상세보기 / 이미지 null 처리 수정 (#182)
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/ImageBindingAdapter.kt
  android/app/src/main/res/layout/activity_post_detail.xml
Labels: Android, 핑구🐧, refactor

#188 [feat] 메인 화면과 감상 목록 연결 (#171)
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/viewer/PostViewerActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/viewer/PostViewerViewModel.kt
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/item_post_viewer.xml
  android/app/src/test/java/com/teamtripdraw/android/ui/post/viewer/PostViewerViewModelTest.kt
Labels: Android, 핑구🐧, feat

#195 [fix] 감상 목록 정렬 (#194)
  backend/src/main/java/dev/tripdraw/application/PostService.java
  backend/src/test/java/dev/tripdraw/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/PostControllerTest.java
Labels: fix, Backend

#201 [chore] 버그 이슈 템플릿 추가
  .github/ISSUE_TEMPLATE/버그-이슈-템플릿🐞.md
  .github/ISSUE_TEMPLATE/서버-이슈-템플릿-🌈.md
Labels: chore

#225 [fix] 감상 기록 / 주소 표기 방식 수정 (#211)
  android/app/src/main/java/com/teamtripdraw/android/ui/postWriting/PostWritingActivity.kt
Labels: Android, fix

#227 [fix] 감상 기록 / sdk 버전 12 이하에서 PhotoPicker로부터 가져온 이미지를 File로 만들 때 ANR 해결 (#219)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/ui/postWriting/PostWritingActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/postWriting/PostWritingViewModel.kt
  android/app/src/main/res/layout/activity_post_writing.xml
  android/support/src/main/java/com/teamtripdraw/android/support/framework/presentation/extensions/UriExtensions.kt
Labels: Android, 수달🦦, feat, fix, bug

#233 [refactor] 감상 기록 / 패키지 변경 및 테스트 수정 (#215)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/PostWritingActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/PostWritingViewModel.kt
  android/app/src/main/res/layout/activity_post_writing.xml
  android/app/src/test/java/com/teamtripdraw/android/ui/home/HomeViewModelTest.kt
  android/app/src/test/java/com/teamtripdraw/android/ui/post/writing/PostWritingViewModelTest.kt
Labels: Android, 수달🦦, refactor

#235 [feat] 메인 화면_홈 / 지점 삭제 및 감상추가 기능구현 (#218)
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/point/PointDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/point/RemotePointDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/DeletePointService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/repository/PointRepositoryImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RemoteDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/ServiceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/animation/ObjectAnimators.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/NaverMapBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/home/HomeBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/home/MarkerSelectedBottomSheetBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeUiState.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/markerSelectedBottomSheet/MarkerSelectedBottomSheet.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/markerSelectedBottomSheet/MarkerSelectedViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiMarkerInfo.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiPoint.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiRoute.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/mapper/PointUiMapper.kt
  android/app/src/main/res/drawable/ic_date_time.xml
  android/app/src/main/res/drawable/shape_td_gray_fill_100_rect.xml
  android/app/src/main/res/drawable/shape_td_white_fill_28_rect.xml
  android/app/src/main/res/layout/bottom_sheet_marker_selected.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/values/RoundedBottomSheetTheme.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/teamtripdraw/android/domain/repository/PointRepository.kt
Labels: Android, 멧돼지🐗, feat

#242 [feat] 회원 탈퇴 기능 (#240)
  backend/src/main/java/dev/tripdraw/application/MemberService.java
  backend/src/main/java/dev/tripdraw/domain/member/Member.java
  backend/src/main/java/dev/tripdraw/presentation/controller/MemberController.java
  backend/src/main/resources/db/migration/h2/V5__addMemberDeletion.sql
  backend/src/main/resources/db/migration/mysql/V5__addMemberDeletion.sql
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/member/MemberRepositoryTest.java
  backend/src/test/java/dev/tripdraw/domain/member/MemberTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/MemberControllerTest.java
Labels: 후추🧂, feat, Backend

#245 [fix] 여행 히스토리 / 코드 업데이트 시간순서에 의한 오류 수정 (#244)
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/tripDetail/TripDetailActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/markerSelectedBottomSheet/MarkerSelectedBottomSheet.kt
  android/app/src/main/res/layout/activity_trip_detail.xml
Labels: Android, 멧돼지🐗, feat

#246 [feat] 감상 기록 / 글 수정 기능 (#215)
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/post/PostDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/post/remote/RemotePostDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/mapper/PostDtoMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/request/PatchPostRequest.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/PostService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/DataPrePatchPost.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/mapper/PostDataMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/data/repository/PostRepositoryImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RemoteDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RetrofitContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/PostWritingActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/PostWritingViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/WritingMode.kt
  android/app/src/test/java/com/teamtripdraw/android/ui/post/writing/PostWritingViewModelTest.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/post/PrePatchPost.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/repository/PostRepository.kt
Labels: Android, 수달🦦, feat

#250 [fix] 수정하지 않은 감상의 이미지 그대로 유지 (#249)
  backend/src/main/java/dev/tripdraw/application/PostService.java
Labels: fix, Backend

#252 [refactor] 모든 여행 조회 응답 수정 (#251)
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/dto/trip/TripSearchResponse.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/dto/trip/TripSearchResponseTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/TripControllerTest.java
Labels: 후추🧂, refactor, Backend

#256 [docs] Swagger를 고도화한다 (#253)
  backend/src/main/java/dev/tripdraw/config/swagger/MultipartJackson2HttpMessageConverter.java
  backend/src/main/java/dev/tripdraw/presentation/controller/PostController.java
Labels: docs, Backend

#254 [feat] 여행 히스토리 / 서버 통신 기능 (#243)
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/trip/RemoteTripDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/trip/TripDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/mapper/TripDtoMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/GetAllTripsResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/DeleteTripService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/GetAllTripsService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/DataPreviewTrip.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/mapper/TripMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/data/repository/TripRepositoryImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RemoteDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/ServiceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/animation/ObjectAnimators.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/NaverMapBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/dialog/DialogUtil.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/HistoryFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/HistoryViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/detail/HistoryDetailActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/detail/HistoryDetailViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/tripDetail/TripDetailActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/tripDetail/TripDetailViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/markerSelectedBottomSheet/BottomSheetClickSituation.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/markerSelectedBottomSheet/MapBottomSheetViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/markerSelectedBottomSheet/MarkerSelectedBottomSheet.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/markerSelectedBottomSheet/MarkerSelectedViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/mapper/PointUiMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/mapper/PostUiMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/mapper/TripUiMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/viewer/PostViewerActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/viewer/PostViewerViewModel.kt
  android/app/src/main/res/layout/activity_history_detail.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/activity_trip_detail.xml
  android/app/src/main/res/layout/dialog_util.xml
  android/app/src/main/res/layout/item_history_detail_posts.xml
  android/app/src/main/res/layout/item_trip_history.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/trip/Trip.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/repository/TripRepository.kt
  android/support/src/main/java/com/teamtripdraw/android/support/framework/presentation/LocalDateTimeFormatter.kt
Labels: Android, 핑구🐧, feat

#260 [fix] 충돌 오류 해결 (#259)
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeViewModel.kt
Labels: Android, 핑구🐧, fix

#261 [feat] Firebase Crashlytics 연결 (#258)
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: Android, 멧돼지🐗, feat

#264 [fix] 메인 화면_홈 / 서비스 unbind 조건 변경 (#263)
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeFragment.kt
Labels: Android, 멧돼지🐗, feat

#280 [feat] 마이 페이지 (#271)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/ic_app_logo-playstore.png
  android/app/src/main/java/com/teamtripdraw/android/ui/common/TripDrawViewModelFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/myPage/MyPageFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/myPage/MyPageViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/myPage/accountDeletion/AccountDeletionActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/myPage/accountDeletion/AccountDeletionViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/policy/PrivacyPolicy.kt
  android/app/src/main/res/drawable/ic_app_logo_background.xml
  android/app/src/main/res/drawable/ic_app_logo_foreground.xml
  android/app/src/main/res/drawable/ic_toolbar_logo.png
  android/app/src/main/res/layout/activity_account_deletion.xml
  android/app/src/main/res/layout/activity_privacy_policy.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_app_logo.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_app_logo_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_app_logo.png
  android/app/src/main/res/mipmap-hdpi/ic_app_logo_round.png
  android/app/src/main/res/mipmap-mdpi/ic_app_logo.png
  android/app/src/main/res/mipmap-mdpi/ic_app_logo_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_app_logo.png
  android/app/src/main/res/mipmap-xhdpi/ic_app_logo_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_app_logo.png
  android/app/src/main/res/mipmap-xxhdpi/ic_app_logo_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_app_logo.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_app_logo_round.png
  android/app/src/main/res/values/strings.xml
Labels: Android, 수달🦦, ui

#279 [feat] 회원 닉네임 등록 시 중복 검증 추가 (#278)
  backend/src/main/java/dev/tripdraw/application/AuthService.java
  backend/src/main/java/dev/tripdraw/application/oauth/AuthTokenManager.java
  backend/src/main/java/dev/tripdraw/config/swagger/SwaggerConfig.java
  backend/src/main/java/dev/tripdraw/domain/member/MemberRepository.java
  backend/src/main/java/dev/tripdraw/dto/auth/OauthRequest.java
  backend/src/main/java/dev/tripdraw/dto/auth/OauthResponse.java
  backend/src/main/java/dev/tripdraw/dto/auth/RegisterRequest.java
  backend/src/main/java/dev/tripdraw/exception/member/MemberExceptionType.java
  backend/src/main/java/dev/tripdraw/presentation/controller/AuthController.java
  backend/src/test/java/dev/tripdraw/application/AuthServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/member/MemberRepositoryTest.java
  backend/src/test/java/dev/tripdraw/presentation/controller/AuthControllerTest.java
Labels: 후추🧂, feat, Backend

#287 [ui] 개인정보 처리방침 화면 작성 (#282)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/ui/myPage/MyPageFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/policy/PrivacyPolicy.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/policy/PrivacyPolicyActivity.kt
  android/app/src/main/res/layout/activity_privacy_policy.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, ui

#288 [refactor] 여행 히스토리 / 빈 값일 때 안내 문구 띄우기 (#286)
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/CommonBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/HistoryFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/HistoryViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/detail/HistoryDetailActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/detail/HistoryDetailViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiPosts.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiTripHistory.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/detail/PostDetailActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/detail/PostDetailViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/viewer/PostViewerActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/viewer/PostViewerViewModel.kt
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/activity_post_viewer.xml
  android/app/src/main/res/layout/fragment_history.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/teamtripdraw/android/ui/post/detail/PostDetailViewModelTest.kt
  android/domain/src/test/java/com/teamtripdraw/android/domain/model/trip/TripTitleValidStateTest.kt
  android/domain/src/test/java/com/teamtripdraw/android/domain/model/user/NicknameValidStateTest.kt
Labels: Android, 핑구🐧, refactor

#294 [feat] 마이 페이지 / 닉네임 및 오픈소스 라이선스 추가 (#293)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/ui/login/LoginActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/login/LoginViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/myPage/MyPageFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/myPage/MyPageViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/policy/OpenSourceLicenseActivity.kt
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_open_source_license.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, feat

#298 [feat] 난독화 코드 추가 (#297)
  android/app/proguard-rules.pro
Labels: Android, 핑구🐧, feat

#307 [refactor] 롬복 적용 (#306)
  backend/build.gradle
  backend/src/main/java/dev/tripdraw/application/AuthService.java
  backend/src/main/java/dev/tripdraw/application/MemberService.java
  backend/src/main/java/dev/tripdraw/application/PostService.java
  backend/src/main/java/dev/tripdraw/application/TripService.java
  backend/src/main/java/dev/tripdraw/application/draw/RouteImageGenerator.java
  backend/src/main/java/dev/tripdraw/application/file/FilePath.java
  backend/src/main/java/dev/tripdraw/application/file/FileUploader.java
  backend/src/main/java/dev/tripdraw/application/file/FileUrlMaker.java
  backend/src/main/java/dev/tripdraw/application/oauth/KakaoApiClient.java
  backend/src/main/java/dev/tripdraw/config/AuthConfig.java
  backend/src/main/java/dev/tripdraw/domain/common/BaseEntity.java
  backend/src/main/java/dev/tripdraw/domain/draw/Coordinates.java
  backend/src/main/java/dev/tripdraw/domain/draw/RouteImageDrawer.java
  backend/src/main/java/dev/tripdraw/domain/file/FileType.java
  backend/src/main/java/dev/tripdraw/domain/member/Member.java
  backend/src/main/java/dev/tripdraw/domain/post/Post.java
  backend/src/main/java/dev/tripdraw/domain/trip/Point.java
  backend/src/main/java/dev/tripdraw/domain/trip/Route.java
  backend/src/main/java/dev/tripdraw/domain/trip/Trip.java
  backend/src/main/java/dev/tripdraw/domain/trip/TripName.java
  backend/src/main/java/dev/tripdraw/exception/auth/AuthExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/common/BaseException.java
  backend/src/main/java/dev/tripdraw/exception/common/ExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/common/GlobalExceptionHandler.java
  backend/src/main/java/dev/tripdraw/exception/draw/DrawExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/file/FileIOExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/member/MemberExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/post/PostExceptionType.java
  backend/src/main/java/dev/tripdraw/exception/trip/TripExceptionType.java
  backend/src/main/java/dev/tripdraw/presentation/controller/AuthController.java
  backend/src/main/java/dev/tripdraw/presentation/controller/MemberController.java
  backend/src/main/java/dev/tripdraw/presentation/controller/PostController.java
  backend/src/main/java/dev/tripdraw/presentation/controller/TripController.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthArgumentResolver.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthExtractor.java
  backend/src/main/java/dev/tripdraw/presentation/member/AuthInterceptor.java
  backend/src/test/java/dev/tripdraw/application/AuthServiceTest.java
  backend/src/test/java/dev/tripdraw/application/JwtTokenProviderTest.java
  backend/src/test/java/dev/tripdraw/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/domain/draw/CoordinatesTest.java
  backend/src/test/java/dev/tripdraw/domain/post/PostTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/PointTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/RouteTest.java
  backend/src/test/java/dev/tripdraw/domain/trip/TripTest.java
  backend/src/test/java/dev/tripdraw/presentation/member/AuthExtractorTest.java
Labels: refactor, Backend

#326 [chore] CD 설정 변경 (#325)
  .github/workflows/backend-dev-cd.yml
  .github/workflows/backend-prod-cd.yml
Labels: refactor, Backend
