Repository woowacourse-teams/2023-trip-draw, pull requests merged in 2023-09, with the labels that each got.

#334 [refactor] 여행 및 위치정보 수정 (#276)
  backend/src/main/java/dev/tripdraw/member/domain/MemberRepository.java
  backend/src/main/java/dev/tripdraw/post/application/PostService.java
  backend/src/main/java/dev/tripdraw/trip/application/TripService.java
  backend/src/main/java/dev/tripdraw/trip/domain/Point.java
  backend/src/main/java/dev/tripdraw/trip/domain/PointRepository.java
  backend/src/main/java/dev/tripdraw/trip/domain/Route.java
  backend/src/main/java/dev/tripdraw/trip/domain/Trip.java
  backend/src/main/java/dev/tripdraw/trip/dto/TripsSearchResponse.java
  backend/src/main/java/dev/tripdraw/trip/exception/TripExceptionType.java
  backend/src/main/resources/db/migration/h2/V7__modifyPoint.sql
  backend/src/main/resources/db/migration/mysql/V7__modifyPoint.sql
  backend/src/test/java/dev/tripdraw/member/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/member/domain/MemberRepositoryTest.java
  backend/src/test/java/dev/tripdraw/member/presentation/MemberControllerTest.java
  backend/src/test/java/dev/tripdraw/post/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostRepositoryTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostTest.java
  backend/src/test/java/dev/tripdraw/test/TestFixture.java
  backend/src/test/java/dev/tripdraw/trip/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/PointRepositoryTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/PointTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/RouteTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/TripRepositoryTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/TripTest.java
  backend/src/test/java/dev/tripdraw/trip/presentation/TripControllerTest.java
Labels: 후추🧂, refactor, Backend

#342 [feat] 여행 이미지에 대한 기본 값 지정하는 기능 추가 (#341)
  backend/src/main/java/dev/tripdraw/file/application/FilePath.java
  backend/src/main/java/dev/tripdraw/file/application/FileUploader.java
  backend/src/main/java/dev/tripdraw/file/domain/FileType.java
  backend/src/main/java/dev/tripdraw/post/application/PostService.java
  backend/src/main/java/dev/tripdraw/post/dto/PostAndPointCreateRequest.java
  backend/src/main/java/dev/tripdraw/trip/domain/Point.java
  backend/src/test/java/dev/tripdraw/file/application/FileUploaderTest.java
  backend/src/test/java/dev/tripdraw/post/application/PostServiceTest.java
Labels: 허브🌿, feat, Backend

#344 [fix] dto의 image null인 경우 빈 문자열을 반환하도록 수정 (#343)
  backend/src/main/java/dev/tripdraw/post/dto/PostResponse.java
  backend/src/main/java/dev/tripdraw/trip/dto/TripResponse.java
  backend/src/main/java/dev/tripdraw/trip/dto/TripSearchResponse.java
  backend/src/test/java/dev/tripdraw/post/presentation/PostControllerTest.java
Labels: 허브🌿, fix, Backend

#345 [chore] dev cd 스크립트 수정
  .github/workflows/backend-dev-cd.yml
Labels: chore, Backend

#354 [feat] logUtil 로 Log 변경 (#353)
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/recordingPoint/RecordingPointService.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/login/LoginViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/myPage/MyPageViewModel.kt
  android/support/src/main/java/com/teamtripdraw/android/support/framework/presentation/log/LogUtil.kt
Labels: Android, 멧돼지🐗, feat

#305 [feat] 감상 기록 / 이미지 삭제 (#304)
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/request/PatchPostRequest.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/ImageBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/PostWritingBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/PostWritingViewModel.kt
  android/app/src/main/res/drawable/ic_image_delete.xml
  android/app/src/main/res/layout/activity_post_writing.xml
  android/app/src/test/java/com/teamtripdraw/android/ui/post/writing/PostWritingViewModelTest.kt
  android/support/src/main/java/com/teamtripdraw/android/support/framework/presentation/extensions/UriExtensions.kt
Labels: Android, feat

#347 [refactor] 여행 히스토리 / 이미지 관련 수정 및 버그 잡기 (#302)
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/GetPostResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/GetTripInfoResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/DataPost.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/DataTrip.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/CommonBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/ImageBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/detail/HistoryDetailActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/history/tripDetail/TripDetailViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiPostDetail.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiPostItem.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/PostWritingViewModel.kt
  android/app/src/main/res/drawable-hdpi/img_default_image.png
  android/app/src/main/res/drawable-hdpi/img_default_trip_thumbnail.png
  android/app/src/main/res/drawable-mdpi/img_default_image.png
  android/app/src/main/res/drawable-mdpi/img_default_trip_thumbnail.png
  android/app/src/main/res/drawable-xhdpi/img_default_image.png
  android/app/src/main/res/drawable-xhdpi/img_default_trip_thumbnail.png
  android/app/src/main/res/drawable-xxhdpi/img_default_image.png
  android/app/src/main/res/drawable-xxhdpi/img_default_trip_thumbnail.png
  android/app/src/main/res/drawable-xxxhdpi/img_default_image.png
  android/app/src/main/res/drawable-xxxhdpi/img_default_trip_thumbnail.png
  android/app/src/main/res/layout/activity_history_detail.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/activity_post_writing.xml
  android/app/src/main/res/layout/activity_trip_detail.xml
  android/app/src/main/res/layout/item_history_detail_posts.xml
  android/app/src/main/res/layout/item_post_viewer.xml
  android/app/src/main/res/layout/item_trip_history.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/test/java/com/teamtripdraw/android/ModelProvider.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/post/Post.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/trip/Trip.kt
Labels: Android, 핑구🐧, refactor

#350 [refactor] OAuth API 호출에 해당하는 부분을 트랜잭션에서 제외 (#349)
  backend/src/main/java/dev/tripdraw/auth/application/AuthFacadeService.java
  backend/src/main/java/dev/tripdraw/auth/application/AuthService.java
  backend/src/main/java/dev/tripdraw/auth/application/OAuthService.java
  backend/src/main/java/dev/tripdraw/auth/application/TokenGenerateService.java
  backend/src/main/java/dev/tripdraw/auth/domain/RefreshToken.java
  backend/src/main/java/dev/tripdraw/auth/presentation/AuthController.java
  backend/src/main/java/dev/tripdraw/common/config/AuthConfig.java
  backend/src/main/java/dev/tripdraw/member/application/MemberService.java
  backend/src/main/java/dev/tripdraw/member/presentation/MemberController.java
  backend/src/test/java/dev/tripdraw/auth/application/AuthFacadeServiceTest.java
  backend/src/test/java/dev/tripdraw/auth/application/AuthServiceTest.java
  backend/src/test/java/dev/tripdraw/auth/application/OAuthServiceTest.java
  backend/src/test/java/dev/tripdraw/auth/application/TokenGenerateServiceTest.java
  backend/src/test/java/dev/tripdraw/member/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/member/presentation/MemberControllerTest.java
  backend/src/test/java/dev/tripdraw/test/fixture/MemberFixture.java
Labels: 허브🌿, refactor, Backend

#360 [refactor] Member 삭제 로직 수정 #346
  backend/src/main/java/dev/tripdraw/member/application/MemberService.java
  backend/src/main/java/dev/tripdraw/member/domain/MemberDeleteEvent.java
  backend/src/main/java/dev/tripdraw/member/presentation/MemberController.java
  backend/src/main/java/dev/tripdraw/post/application/PostDeleteEventHandler.java
  backend/src/main/java/dev/tripdraw/trip/application/TripDeleteEventHandler.java
  backend/src/test/java/dev/tripdraw/member/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/post/application/PostDeleteEventHandlerTest.java
  backend/src/test/java/dev/tripdraw/trip/application/TripDeleteEventHandlerTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/TripRepositoryTest.java
Labels: 후추🧂, refactor, Backend

#371 [feat] 재 로그인 작업 및 refresh token 도입 , General Call Adapter 생성, NaverGeoCoder관련 레트로핏, OkHttp 생성 (#352)
  android/app/src/main/java/com/teamtripdraw/android/TripDrawApplication.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/auth/login/LoginDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/auth/login/RemoteLoginDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/auth/signUp/RemoteSignUpDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/auth/signUp/SignUpDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/auth/userIdentifyInfo/LocalUserIdentifyInfoDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/auth/userIdentifyInfo/UserIdentifyInfoDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/signUp/SignUpDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/unsubscribe/RemoteUnsubscribeDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/unsubscribe/UnsubscribeDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/userIdentifyInfo/LocalUserIdentifyInfoDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/userIdentifyInfo/RemoteUserIdentifyInfoDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/userIdentifyInfo/UserIdentifyInfoDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/failureResponse/GeneralFailureResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/failureResponse/NicknameSetupFailureReponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/mapper/AuthDtoMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/request/TokenRefreshRequest.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/LoginResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/TokenRefreshResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/ResponseStateCall.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/ResponseStateCallAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/ServerType.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/TokenExpiryType.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/responseState/ResponseState.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/responseState/ResponseStateCall.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/responseState/ResponseStateCallAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/responseState/ResponseStateCallAdapterFactory.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/responseState/enqueueActions/GeneralEnqueueActions.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/responseState/enqueueActions/ReLoginHandler.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/responseState/enqueueActions/TripDrawEnqueueActions.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/responseState/enqueueActions/TripDrawReLoginHandler.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/responseState/responseStateCallExtraFeature/EnqueueSuspend.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/retrofitAdapter/responseState/responseStateCallExtraFeature/EnqueueSuspendImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/CreateRecordingPointService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/CreateTripService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/DeletePointService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/DeleteTripService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/GetAllTripsService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/GetPointService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/GetTripInfoService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/GetUserInfoService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/LoginService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/NicknameSetupService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/PostService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/SetTripTitleService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/TokenRefreshService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/UnsubscribeService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/DataUserIdentifyInfo.kt
  android/app/src/main/java/com/teamtripdraw/android/data/repository/AuthRepositoryImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/di/LocalDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RemoteDataSourceContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RepositoryContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RetrofitContainer.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/login/LoginActivity.kt
Labels: Android, 멧돼지🐗, feat

#367 [feat] 감상 전체 조회 기능 추가 (#363)
  backend/build.gradle
  backend/src/main/java/dev/tripdraw/common/config/QueryDslConfig.java
  backend/src/main/java/dev/tripdraw/draw/application/PostCreateEventHandler.java
  backend/src/main/java/dev/tripdraw/post/application/PostQueryService.java
  backend/src/main/java/dev/tripdraw/post/application/PostService.java
  backend/src/main/java/dev/tripdraw/post/domain/PostRepository.java
  backend/src/main/java/dev/tripdraw/post/dto/PostSearchConditions.java
  backend/src/main/java/dev/tripdraw/post/dto/PostSearchPaging.java
  backend/src/main/java/dev/tripdraw/post/dto/PostSearchRequest.java
  backend/src/main/java/dev/tripdraw/post/dto/PostSearchResponse.java
  backend/src/main/java/dev/tripdraw/post/dto/PostsSearchResponse.java
  backend/src/main/java/dev/tripdraw/post/presentation/PostController.java
  backend/src/main/java/dev/tripdraw/post/query/PostCustomRepository.java
  backend/src/main/java/dev/tripdraw/post/query/PostCustomRepositoryImpl.java
  backend/src/test/java/dev/tripdraw/auth/domain/RefreshTokenRepositoryTest.java
  backend/src/test/java/dev/tripdraw/draw/application/PostCreateEventHandlerIntegrationTest.java
  backend/src/test/java/dev/tripdraw/draw/application/PostCreateEventHandlerTest.java
  backend/src/test/java/dev/tripdraw/member/domain/MemberRepositoryTest.java
  backend/src/test/java/dev/tripdraw/post/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostCustomRepositoryImplTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostRepositoryTest.java
  backend/src/test/java/dev/tripdraw/post/dto/PostResponseAndPointCreateRequestTest.java
  backend/src/test/java/dev/tripdraw/post/presentation/PostControllerTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/PointRepositoryTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/TripRepositoryTest.java
Labels: 리오🎸, feat, Backend

#380 [refactor] Get 요청 시 body 제거 (#379)
  backend/src/main/java/dev/tripdraw/post/application/PostService.java
  backend/src/main/java/dev/tripdraw/post/dto/PostSearchRequest.java
  backend/src/main/java/dev/tripdraw/post/presentation/PostController.java
  backend/src/main/java/dev/tripdraw/trip/application/TripService.java
  backend/src/main/java/dev/tripdraw/trip/dto/TripSearchRequest.java
  backend/src/main/java/dev/tripdraw/trip/presentation/TripController.java
  backend/src/test/java/dev/tripdraw/post/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/post/presentation/PostControllerTest.java
  backend/src/test/java/dev/tripdraw/test/fixture/TripSearchQueryParamsFixture.java
  backend/src/test/java/dev/tripdraw/trip/acceptance/TripSearchAcceptanceTest.java
  backend/src/test/java/dev/tripdraw/trip/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/trip/presentation/TripControllerTest.java
Labels: 후추🧂, refactor, Backend

#382 [fix] 여행 중복 조회 제거 (#381)
  backend/src/main/java/dev/tripdraw/post/dto/PostSearchResponse.java
  backend/src/main/java/dev/tripdraw/trip/dto/TripSearchResponse.java
  backend/src/main/java/dev/tripdraw/trip/query/TripCustomRepositoryImpl.java
Labels: 후추🧂, fix, Backend

#394 [refactor] 감상 조회시 N+1 문제 해결
  backend/src/main/java/dev/tripdraw/post/domain/PostRepository.java
  backend/src/main/java/dev/tripdraw/post/query/PostCustomRepositoryImpl.java
  backend/src/main/java/dev/tripdraw/trip/domain/Point.java
Labels: 리오🎸, refactor, Backend

#390 [refactor] android geocoder를 naver ReverseGeocoding으로 변경하기 (#335)
  android/app/build.gradle.kts
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/geocoding/GeocodingDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/geocoding/RemoteGeocodingDataSourceImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/mapper/GeocodingMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/GetReverseGeocodingResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/NaverGeocodingService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/model/DataReverseGeocoding.kt
  android/app/src/main/java/com/teamtripdraw/android/data/repository/GeocodingRepositoryImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RemoteDataSourceModule.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RepositoryModule.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RetrofitModule.kt
  android/app/src/main/java/com/teamtripdraw/android/di/ServiceModule.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/markerSelectedBottomSheet/MarkerSelectedBottomSheet.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/markerSelectedBottomSheet/MarkerSelectedViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/PostWritingActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/post/writing/PostWritingViewModel.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/repository/GeocodingRepository.kt
  android/support/src/main/java/com/teamtripdraw/android/support/framework/presentation/extensions/GeocoderExtensions.kt
Labels: Android, 수달🦦, refactor

#406 [refactor] Member 간접참조로 변경 #403
  backend/src/main/java/dev/tripdraw/member/domain/MemberRepository.java
  backend/src/main/java/dev/tripdraw/member/exception/MemberExceptionType.java
  backend/src/main/java/dev/tripdraw/post/application/PostService.java
  backend/src/main/java/dev/tripdraw/post/domain/Post.java
  backend/src/main/java/dev/tripdraw/post/domain/PostRepository.java
  backend/src/main/java/dev/tripdraw/post/dto/PostAndPointCreateRequest.java
  backend/src/main/java/dev/tripdraw/post/dto/PostRequest.java
  backend/src/main/java/dev/tripdraw/trip/application/TripService.java
  backend/src/main/java/dev/tripdraw/trip/domain/Trip.java
  backend/src/main/java/dev/tripdraw/trip/domain/TripRepository.java
  backend/src/test/java/dev/tripdraw/member/application/MemberServiceTest.java
  backend/src/test/java/dev/tripdraw/member/domain/MemberRepositoryTest.java
  backend/src/test/java/dev/tripdraw/member/presentation/MemberControllerTest.java
  backend/src/test/java/dev/tripdraw/post/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostCustomRepositoryImplTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostRepositoryTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostTest.java
  backend/src/test/java/dev/tripdraw/post/presentation/PostControllerTest.java
  backend/src/test/java/dev/tripdraw/test/fixture/TestFixture.java
  backend/src/test/java/dev/tripdraw/trip/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/PointRepositoryTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/PointTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/TripRepositoryTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/TripTest.java
  backend/src/test/java/dev/tripdraw/trip/dto/TripSearchResponseOfMemberTest.java
  backend/src/test/java/dev/tripdraw/trip/query/TripCustomRepositoryImplTest.java
Labels: 후추🧂, refactor, Backend

#421 [fix] 로그아웃시 flag 전달에 따라 나는 오류 수정 (#420)
  android/app/src/main/java/com/teamtripdraw/android/ui/login/LoginActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/myPage/MyPageFragment.kt
Labels: Android, 멧돼지🐗, fix

#425 [fix] EncryptedSharedPreference 관련 오류사항 (#424)
  android/app/src/main/java/com/teamtripdraw/android/di/LocalPreferenceModule.kt
  android/app/src/main/res/xml/backup_rules.xml
Labels: Android, 멧돼지🐗, fix
