Repository woowacourse-teams/2023-trip-draw, pull requests merged in 2023-10, with the labels that each got.

#447 [fix] release 1.1.0에서 발생하는 주소 변환시 ANR 발생 문제 해결 (#446)
  android/app/proguard-rules.pro
Labels: Android, 수달🦦, fix, bug

#449 [feat] 경로 기록시간 5분으로 단축 (#448)
  android/app/src/main/java/com/teamtripdraw/android/ui/home/recordingPoint/RecordingPointAlarmManager.kt
Labels: Android, 멧돼지🐗, feat

#441 [refactor] Point와 Trip Controller, Service 분리
  backend/src/main/java/dev/tripdraw/trip/application/PointService.java
  backend/src/main/java/dev/tripdraw/trip/application/TripService.java
  backend/src/main/java/dev/tripdraw/trip/presentation/PointController.java
  backend/src/main/java/dev/tripdraw/trip/presentation/TripController.java
  backend/src/test/java/dev/tripdraw/trip/application/PointServiceTest.java
  backend/src/test/java/dev/tripdraw/trip/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/trip/presentation/PointControllerTest.java
  backend/src/test/java/dev/tripdraw/trip/presentation/TripControllerTest.java
Labels: 허브🌿, refactor, Backend

#444 [refactor] AuthService TransactionTemplate 제거 #442
  backend/src/main/java/dev/tripdraw/auth/application/AuthService.java
  backend/src/main/java/dev/tripdraw/auth/application/AuthServiceFacade.java
  backend/src/main/java/dev/tripdraw/auth/application/TokenGenerateService.java
  backend/src/main/java/dev/tripdraw/auth/presentation/AuthController.java
  backend/src/test/java/dev/tripdraw/auth/application/AuthServiceFacadeTest.java
  backend/src/test/java/dev/tripdraw/auth/application/AuthServiceTest.java
  backend/src/test/java/dev/tripdraw/auth/application/TokenGenerateServiceTest.java
Labels: 허브🌿, refactor, Backend

#452 fix: 감상이 있는 여행이 삭제되지 않는 오류 수정
  backend/src/main/java/dev/tripdraw/post/application/PostDeleteEventHandler.java
  backend/src/main/java/dev/tripdraw/post/domain/PostRepository.java
  backend/src/main/java/dev/tripdraw/trip/application/TripService.java
  backend/src/main/java/dev/tripdraw/trip/domain/TripDeleteEvent.java
  backend/src/test/java/dev/tripdraw/post/application/PostDeleteEventHandlerTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostRepositoryTest.java
  backend/src/test/java/dev/tripdraw/trip/application/TripServiceTest.java
Labels: 리오🎸, fix, Backend

#457 [fix] sentry failure error body context 이상하게 수집되는 부분 수정 (#456)
  android/support/src/main/java/com/teamtripdraw/android/support/framework/presentation/log/tripDrawLogUtil/TripDrawLogUtil.kt
Labels: Android, 멧돼지🐗, fix

#462 [feat] point Id를 통해 post를 조회하는 api (#461)
  backend/src/main/java/dev/tripdraw/common/config/AuthConfig.java
  backend/src/main/java/dev/tripdraw/post/application/PostService.java
  backend/src/main/java/dev/tripdraw/post/domain/PostRepository.java
  backend/src/main/java/dev/tripdraw/post/presentation/PostController.java
  backend/src/test/java/dev/tripdraw/post/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostRepositoryTest.java
  backend/src/test/java/dev/tripdraw/post/presentation/PostControllerTest.java
Labels: 후추🧂, feat, Backend

#459 [feat] 어드민 페이지를 위한 API를 개발한다 #454
  backend/build.gradle
  backend/src/main/java/dev/tripdraw/admin/application/AdminAuthService.java
  backend/src/main/java/dev/tripdraw/admin/application/AdminService.java
  backend/src/main/java/dev/tripdraw/admin/application/PasswordEncoder.java
  backend/src/main/java/dev/tripdraw/admin/config/AdminConfig.java
  backend/src/main/java/dev/tripdraw/admin/domain/Admin.java
  backend/src/main/java/dev/tripdraw/admin/domain/AdminRepository.java
  backend/src/main/java/dev/tripdraw/admin/domain/AdminSession.java
  backend/src/main/java/dev/tripdraw/admin/domain/AdminSessionRepository.java
  backend/src/main/java/dev/tripdraw/admin/dto/AdminLoginRequest.java
  backend/src/main/java/dev/tripdraw/admin/dto/AdminPagingRequest.java
  backend/src/main/java/dev/tripdraw/admin/dto/AdminPostResponse.java
  backend/src/main/java/dev/tripdraw/admin/dto/AdminPostsResponse.java
  backend/src/main/java/dev/tripdraw/admin/dto/AdminTripResponse.java
  backend/src/main/java/dev/tripdraw/admin/dto/AdminTripsResponse.java
  backend/src/main/java/dev/tripdraw/admin/exception/AdminException.java
  backend/src/main/java/dev/tripdraw/admin/exception/AdminExceptionType.java
  backend/src/main/java/dev/tripdraw/admin/presentation/AdminController.java
  backend/src/main/java/dev/tripdraw/admin/presentation/AdminInterceptor.java
  backend/src/main/java/dev/tripdraw/common/config/AuthConfig.java
  backend/src/main/java/dev/tripdraw/post/query/PostCustomRepository.java
  backend/src/main/java/dev/tripdraw/post/query/PostCustomRepositoryImpl.java
  backend/src/main/java/dev/tripdraw/trip/domain/TripName.java
  backend/src/main/java/dev/tripdraw/trip/query/TripCustomRepository.java
  backend/src/main/java/dev/tripdraw/trip/query/TripCustomRepositoryImpl.java
  backend/src/main/resources/db/migration/V10__addAdmin.sql
  backend/src/test/java/dev/tripdraw/admin/application/AdminAuthServiceTest.java
  backend/src/test/java/dev/tripdraw/admin/application/AdminServiceTest.java
  backend/src/test/java/dev/tripdraw/admin/application/PasswordEncoderTest.java
  backend/src/test/java/dev/tripdraw/admin/domain/AdminRepositoryTest.java
  backend/src/test/java/dev/tripdraw/admin/domain/AdminSessionRepositoryTest.java
  backend/src/test/java/dev/tripdraw/admin/domain/AdminSessionTest.java
  backend/src/test/java/dev/tripdraw/admin/domain/AdminTest.java
  backend/src/test/java/dev/tripdraw/admin/presentation/AdminControllerTest.java
  backend/src/test/java/dev/tripdraw/admin/presentation/AdminInterceptorTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostCustomRepositoryImplTest.java
  backend/src/test/java/dev/tripdraw/test/fixture/TripFixture.java
  backend/src/test/java/dev/tripdraw/trip/query/TripCustomRepositoryImplTest.java
  backend/src/test/resources/truncate.sql
Labels: 허브🌿, feat, Backend

#480 [fix] 백엔드 버그 수정 (#477, #478, #479)
  backend/src/main/java/dev/tripdraw/admin/config/AdminConfig.java
  backend/src/main/java/dev/tripdraw/admin/presentation/AdminInterceptor.java
  backend/src/main/java/dev/tripdraw/post/application/PostService.java
  backend/src/main/java/dev/tripdraw/trip/application/TripService.java
  backend/src/main/java/dev/tripdraw/trip/domain/Point.java
  backend/src/main/java/dev/tripdraw/trip/presentation/TripController.java
  backend/src/test/java/dev/tripdraw/admin/presentation/AdminControllerTest.java
  backend/src/test/java/dev/tripdraw/post/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/trip/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/PointTest.java
Labels: 허브🌿, refactor, Backend, bug

#460 [feat] 인수 테스트 작성 (#429)
  backend/src/test/java/dev/tripdraw/auth/acceptance/AuthStep.java
  backend/src/test/java/dev/tripdraw/auth/application/AuthServiceFacadeTest.java
  backend/src/test/java/dev/tripdraw/auth/presentation/AuthControllerTest.java
  backend/src/test/java/dev/tripdraw/test/ControllerTest.java
  backend/src/test/java/dev/tripdraw/test/DatabaseCleaner.java
  backend/src/test/java/dev/tripdraw/test/TestKakaoApiClient.java
  backend/src/test/java/dev/tripdraw/test/fixture/AuthFixture.java
  backend/src/test/java/dev/tripdraw/test/fixture/MemberFixture.java
  backend/src/test/java/dev/tripdraw/test/step/CommonStep.java
  backend/src/test/java/dev/tripdraw/trip/acceptance/TripAcceptanceTest.java
  backend/src/test/java/dev/tripdraw/trip/acceptance/TripStep.java
  backend/src/test/resources/truncate.sql
Labels: 허브🌿, test, Backend

#468 [feat] 다이얼로그 태블릿 대응 사이즈 조정 (#466)
  android/app/src/main/java/com/teamtripdraw/android/ui/common/dialog/DialogUtil.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/dialog/ResponsiveUiDialogSizeAdjuster.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/dialog/SetTripTitleDialog.kt
Labels: Android, 멧돼지🐗, feat

#487 [ui] 전체 / 작성자 닉네임 포함시키기 (#472)
  android/app/src/main/res/drawable/ic_user.xml
  android/app/src/main/res/layout/activity_post_detail.xml
  android/app/src/main/res/layout/item_all_posts.xml
  android/app/src/main/res/layout/item_all_trips.xml
Labels: Android, 핑구🐧, ui

#465 [refactor] 전체 감상 / 무한스크롤 (#458)
  android/app/build.gradle.kts
  android/app/src/main/java/com/teamtripdraw/android/ui/allPosts/AllPostsAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/allPosts/AllPostsFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/allPosts/AllPostsViewHolder.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/allPosts/AllPostsViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/CommonBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiAllPosts.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/allPosts/UiAllPosts.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/allPosts/UiItemView.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/allPosts/UiLoadingItem.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/allPosts/UiPostOfAll.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/mapper/PostUiMapper.kt
  android/app/src/main/res/layout/activity_my_history.xml
  android/app/src/main/res/layout/activity_post_viewer.xml
  android/app/src/main/res/layout/fragment_all_posts.xml
  android/app/src/main/res/layout/fragment_all_trips.xml
  android/app/src/main/res/layout/item_all_posts.xml
  android/app/src/main/res/layout/item_loading.xml
  android/app/src/main/res/raw/loading.json
  android/gradle/libs.versions.toml
Labels: Android, 핑구🐧, refactor

#492 [fix] 모든 여행 조회에서 isMine 필드가 무조건 true로 반환되는 버그 수정 및 API 추가 (#491, #494)
  backend/src/main/java/dev/tripdraw/admin/application/AdminService.java
  backend/src/main/java/dev/tripdraw/admin/dto/AdminStatsResponse.java
  backend/src/main/java/dev/tripdraw/admin/presentation/AdminController.java
  backend/src/main/java/dev/tripdraw/trip/application/TripService.java
  backend/src/main/java/dev/tripdraw/trip/presentation/TripController.java
  backend/src/test/java/dev/tripdraw/admin/application/AdminServiceTest.java
  backend/src/test/java/dev/tripdraw/admin/presentation/AdminControllerTest.java
  backend/src/test/java/dev/tripdraw/trip/application/TripServiceTest.java
Labels: fix, Backend

#499 [refactor] 여행 전체 조회 쿼리 개선(#412) / 여행 및 감상 조회에서 N+1 문제 해결 (#489)
  backend/src/main/java/dev/tripdraw/admin/application/AdminService.java
  backend/src/main/java/dev/tripdraw/common/util/QueryDslUtils.java
  backend/src/main/java/dev/tripdraw/post/application/PostQueryService.java
  backend/src/main/java/dev/tripdraw/post/application/PostService.java
  backend/src/main/java/dev/tripdraw/post/domain/PostDynamicQueryRepository.java
  backend/src/main/java/dev/tripdraw/post/domain/PostRepository.java
  backend/src/main/java/dev/tripdraw/post/query/PostCustomRepository.java
  backend/src/main/java/dev/tripdraw/post/query/PostCustomRepositoryImpl.java
  backend/src/main/java/dev/tripdraw/trip/application/PointService.java
  backend/src/main/java/dev/tripdraw/trip/application/TripQueryService.java
  backend/src/main/java/dev/tripdraw/trip/application/TripService.java
  backend/src/main/java/dev/tripdraw/trip/domain/TripDynamicQueryRepository.java
  backend/src/main/java/dev/tripdraw/trip/domain/TripRepository.java
  backend/src/main/java/dev/tripdraw/trip/dto/TripPaging.java
  backend/src/main/java/dev/tripdraw/trip/dto/TripSearchConditions.java
  backend/src/main/java/dev/tripdraw/trip/dto/TripSearchRequest.java
  backend/src/main/java/dev/tripdraw/trip/query/TripCustomRepository.java
  backend/src/main/java/dev/tripdraw/trip/query/TripCustomRepositoryImpl.java
  backend/src/test/java/dev/tripdraw/admin/application/AdminServiceTest.java
  backend/src/test/java/dev/tripdraw/admin/presentation/AdminControllerTest.java
  backend/src/test/java/dev/tripdraw/post/application/PostServiceTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostDynamicQueryRepositoryTest.java
  backend/src/test/java/dev/tripdraw/post/domain/PostRepositoryTest.java
  backend/src/test/java/dev/tripdraw/post/presentation/PostControllerTest.java
  backend/src/test/java/dev/tripdraw/test/fixture/PostFixture.java
  backend/src/test/java/dev/tripdraw/trip/application/PointServiceTest.java
  backend/src/test/java/dev/tripdraw/trip/application/TripQueryServiceTest.java
  backend/src/test/java/dev/tripdraw/trip/application/TripServiceTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/TripDynamicQueryRepositoryTest.java
  backend/src/test/java/dev/tripdraw/trip/domain/TripRepositoryTest.java
  backend/src/test/java/dev/tripdraw/trip/dto/TripPagingTest.java
  backend/src/test/java/dev/tripdraw/trip/dto/TripSearchConditionsTest.java
  backend/src/test/java/dev/tripdraw/trip/presentation/TripControllerTest.java
Labels: 후추🧂, 리오🎸, refactor, Backend

#503 [fix] 감상에 사용자 정보 추가에 따른 dto 수정 (#502)
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/mapper/PointDtoMapper.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/GetPointPostResponse.kt
Labels: Android, fix

#507 [feat] 감상 작성 / 태블릿 화면에서 이미지 미리보기 크기 조절 (#506)
  android/app/src/main/res/layout/activity_post_writing.xml
  android/app/src/main/res/values-w600dp/dimens.xml
  android/app/src/main/res/values/dimens.xml
Labels: Android, 수달🦦, feat, ui

#509 [feat] 지역 조회 API 구현 (#493)
  backend/src/main/java/dev/tripdraw/area/application/AreaService.java
  backend/src/main/java/dev/tripdraw/area/application/AreaServiceFacade.java
  backend/src/main/java/dev/tripdraw/area/application/OpenApiAreaDownloader.java
  backend/src/main/java/dev/tripdraw/area/domain/Area.java
  backend/src/main/java/dev/tripdraw/area/domain/AreaRepository.java
  backend/src/main/java/dev/tripdraw/area/dto/AreaReqeust.java
  backend/src/main/java/dev/tripdraw/area/dto/AreaResponse.java
  backend/src/main/java/dev/tripdraw/area/dto/OpenApiAccessTokenResponse.java
  backend/src/main/java/dev/tripdraw/area/dto/OpenApiAreaResponse.java
  backend/src/main/java/dev/tripdraw/area/dto/OpenApiTotalAreaResponse.java
  backend/src/main/java/dev/tripdraw/area/presentation/AreaController.java
  backend/src/main/java/dev/tripdraw/common/config/SchedulingConfig.java
  backend/src/main/java/dev/tripdraw/common/profile/presentation/ProfileController.java
  backend/src/main/java/dev/tripdraw/post/dto/PostSearchConditions.java
  backend/src/main/java/dev/tripdraw/trip/domain/Trip.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/db/migration/V11__addArea.sql
  backend/src/test/java/dev/tripdraw/area/application/AreaServiceTest.java
  backend/src/test/java/dev/tripdraw/area/application/OpenApiAreaDownloaderTest.java
  backend/src/test/java/dev/tripdraw/area/domain/AreaRepositoryTest.java
  backend/src/test/java/dev/tripdraw/area/domain/AreaTest.java
  backend/src/test/java/dev/tripdraw/area/presentation/AreaControllerTest.java
Labels: 리오🎸, feat, Backend

#517 [feat] api 버저닝 대응하여 api 버전 관련 헤더 추가 (#516)
  android/app/build.gradle.kts
  android/app/src/main/java/com/teamtripdraw/android/di/RetrofitModule.kt
  android/app/src/main/java/com/teamtripdraw/android/di/qualifier/Qualifiers.kt
Labels: Android, 멧돼지🐗, feat

#526 [refactor] 네이버 api로부터 행정동만 받아오도록 수정 (#525)
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/NaverGeocodingService.kt
Labels: Android, fix

#523 [feat] 홈,감상 기록 / 감상 작성시 위치 저장하는 요구사항으로 변경 대응 (#522)
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/home/HomeViewModel.kt
Labels: Android, 멧돼지🐗, feat

#455 [feat] 여행 및 감상 필터 옵션 선택 뷰 (#438)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/address/AddressDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/dataSource/address/RemoteAddressDataSource.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/dto/response/GetAddressesResponse.kt
  android/app/src/main/java/com/teamtripdraw/android/data/httpClient/service/GetAddressesService.kt
  android/app/src/main/java/com/teamtripdraw/android/data/repository/AddressRepositoryImpl.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RemoteDataSourceModule.kt
  android/app/src/main/java/com/teamtripdraw/android/di/RepositoryModule.kt
  android/app/src/main/java/com/teamtripdraw/android/di/ServiceModule.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/allPosts/AllPostsFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/allPosts/AllPostsViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/allTrips/AllTripsFragment.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/allTrips/AllTripsViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/common/bindingAdapter/FilterSelectionBindingAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/filter/FilterOptionsView.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/filter/FilterSelectionActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/filter/FilterSelectionViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/filter/FilterType.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/filter/FilterView.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/filter/SelectedOptions.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/filter/address/AddressSelectionActivity.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/filter/address/AddressSelectionAdapter.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/filter/address/AddressSelectionViewHolder.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/filter/address/AddressSelectionViewModel.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/UiAddressSelectionItem.kt
  android/app/src/main/java/com/teamtripdraw/android/ui/model/mapper/FilterOptionUiMapper.kt
  android/app/src/main/res/color/selector_filter_chip_bg_state.xml
  android/app/src/main/res/color/selector_filter_text_state.xml
  android/app/src/main/res/drawable/ic_refresh.xml
  android/app/src/main/res/drawable/shape_td_light_blue_fill_0_rect.xml
  android/app/src/main/res/drawable/shape_td_main_blue_fill_12_rect.xml
  android/app/src/main/res/layout/activity_address_selection.xml
  android/app/src/main/res/layout/activity_filter_selection.xml
  android/app/src/main/res/layout/fragment_all_posts.xml
  android/app/src/main/res/layout/fragment_all_trips.xml
  android/app/src/main/res/layout/item_filter_option_address.xml
  android/app/src/main/res/layout/view_filter_options.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/filterOption/FilterOption.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/filterOption/OptionAgeRange.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/filterOption/OptionDayOfWeek.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/filterOption/OptionGender.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/filterOption/OptionHour.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/filterOption/OptionMonth.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/model/filterOption/OptionYear.kt
  android/domain/src/main/java/com/teamtripdraw/android/domain/repository/AddressRepository.kt
Labels: Android, 핑구🐧, 수달🦦, feat
